
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mx-auto border rounded pt-4">
                            <div class="alert alert-light border rounder"> Login </div>

            <form action="/login" method="POST">
                {% csrf_token %}
                <!---for email--->


          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input required type="email" Name="email" placeholder="example@gmail.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input required type="password" name="password" placeholder="**********" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-info mx-auto col-lg-4 mb-3">Login</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}